.App {
  text-align: center;
  vertical-align: top;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(8px + 2vmin);
  color: white;
}

.Nav-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-container {
  overflow: hidden;
}

.img-intro {
  width: 188px;
  height: 188px;
  transform: scale(2.5, 3.33) translate(-30px, -10px);
  align-self: center;
}

a {
  color: white;
  text-decoration: none;
}

.main-table-browser {
  width: 720px;
  border: 0 solid #ddd;
}

.intro-div-browser {
  overflow: hidden;
  width: 190px;
  align-items: center;
}

.main-table-mobile {
  width: 380px;
  border: 0 solid #ddd;
}

.intro-div-mobile {
  overflow: hidden;
  width: 190px;
  align-items: center;
}

#gui_container {
  position: absolute;
}
